.titulo {
    font-family: 'Dancing Script', cursive;
    /*font-family: "Brush Script MT", cursive;*/
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center
}

.container_login {
    border: 2px solid #3120E0;
    width: 30%;
    border-radius: 20px;
    padding: 30px;
    margin-top: 5%;
}

#imgUser {
    border-radius: 50%;
    border: 1px solid #280f85;
    width: 119px;
}

body {
    background: #DBF4E7;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

.banner {
    border: 2px solid #3120E0;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    background: #20F58F;
}

.menu {
    border: 1px solid #43b709;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #DBF4E7;
}